h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #98b9db;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.search {
  width: 500px;
  min-height: 40px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  /* outline: 1px solid tomato; */
}

.search-text {
  width: 380px;
  height: 40px;
  padding: 10px 10px;
  float: left;
  color: white;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search-text:focus {
  outline: 0;
  background: transparent;
}

.search-btn {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.search-btn:hover {
  background: #98b9db;
  color: #444;
}

.search-btn:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search-btn:focus {
  outline: 0;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.photo-card {
  width: 100%;
}

.link-img {
  display: inline-block;
  width: 100%;
  height: 210px;
}

img {
  width: 100%;
  height: 100%;
}

b {
  display: block;
}

.info {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.info-item {
  text-align: center;
  width: calc((100% - 48px) / 4);
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #2d2424;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #2d2424;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }

  25% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}

/*--------------------768px-1200px----------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .photo-card {
    width: calc((100% - 32px) / 2);
  }
}

/*------------------------1200px-----------------------------*/
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1358px;
  }

  .photo-card {
    width: calc((100% - 48px) / 4);
  }
}
